.vscode/**
.vscode-test/**
out/**
node_modules/**
webview/node_modules/**
webview/.parcel-cache/**
webview/src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!dist/extension.js
!media/dist/*.js
!media/dist/*.css
